<%- include('header') %>
<div class="container">
  <form action="/cotacao" id="form" method="GET">
    <div class="form-group">
      <label for="cotacao">Cotacao: </label>
      <input name="cotacao" class="form-control text-center" id="cotacao" type="text" placeholder="Cotação Dolar" value="<%= cotacao %>">
    </div>
    <div class="alert alert-danger" hidden="true" id="cotacao-validacao" role="alert">
      O valor campo de cotação é inválido
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade: </label>
      <input name="quantidade" class="form-control text-center" id="quantidade" type="text" placeholder="Quantidade de Dolares">
    </div>
    <div class="alert alert-danger" hidden="true" id="quantidade-validacao" role="alert">
      O valor campo de quantidade é inválido
    </div>
    <button class="btn btn-primary">Converter</button>
  </form>
</div>
<%- include('footer') %>